
.heading {
	margin-top: 100px;
}

.slider {
	margin-top: 100px;
}

.teaser {
	margin-top: 180px;
}

.heading h1 {
	margin-bottom: 20px;
}

.big_button {
	min-height: 100px;
}

h1 {
	font-size: 62px;
	letter-spacing: -0.05em;
	line-height: 70px;
	color: #151515;
}



/************************************************************************
-) COIN SLIDER
*************************************************************************/

#coin_holder{
	float:left;
	width:925px;
	height:280px;
	background:#FFFFFF;
	position:relative;
	z-index:2;
	margin-top:90px;
	margin-bottom: 20px;
	padding:7px;
}

.slide_bg {
	background: transparent url(../images/bg_image_slider.png) bottom center no-repeat;
	margin-bottom: 120px;
}

.cs-buttons { 
	font-size: 0px;
	padding: 10px; 
	float: left; 
	margin-top: 7px;
	margin-bottom: 20px;
}



/************************************************************************
-) BUTTONS
*************************************************************************/

a.btn-light { 
	margin-top: -23px; 
}

a.btn-light-preview { 
	margin-top: 0px; 
}

.next_button_first, .next_button_first a {
	display:block;
	height:50px;
	width:50px;
	position:relative;
	left:50%;
	top:-43px;
	border: none;
	padding: 0;
	margin:0;
}

.next_button_first a, .next_button_first a:hover {
	top:0;
	left:0;
	text-indent:-9999px;
	outline:none;
	border: none;
}

.next_button, .next_button a {
	display:block;
	height:50px;
	width:50px;
	position:relative;
	left:50%;
	top:-43px;
	border: none;
	padding: 0;
	margin:0;
}

.next_button a, .next_button a:hover {
	top:0;
	left:0;
	text-indent:-9999px;
	outline:none;
	border: none;
}



/************************************************************************
-) CONTACT
*************************************************************************/

#contact {  
	margin-bottom: 50px;
	margin-top: -20px; 
	margin-left: 8px;
}

#message { 
	width: 480px;
	margin: 10px 0 0 26px; 
	padding: 0; 
}

.error_message { 
	display: block; 
	height: 22px; 
	line-height: 22px; 
	margin: 40px 0;
	background: #FBE3E4 url('../images/assets/error.gif') no-repeat 10px center; 
	padding: 3px 10px 3px 35px; 
	color:#8a1f11;
	border: 1px solid #FBC2C4; 
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px; 
}

.social_bookmarks_footer {
	float: left;
	height: 32px;
	list-style-type: none;
	z-index: 6;
}

.social_bookmarks_footer li {
	float:left;
	margin:0;
	width:32px;
	padding:0 7px 0 0;
}

.social_bookmarks_footer li a {
	height:32px;
	width:32px;
	display: block;
	float:left;
	text-indent: -9999px;
	border:none;
	padding:0;
	outline: none;
}

.notice {
	margin-top: -20px;
	height: 30px;
	line-height: 30px;
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid #777777;
}



/************************************************************************
-) MISC
*************************************************************************/

.margin_footer_break {
	margin: 15px 0 5px 0;
}


.margin_top {
	margin-top: 10px;
}

.margin_bottom {
	margin-bottom: 10px;
}

.margin_break {
	margin-top: 80px;
}

.padding_item_first {
	padding-top: 10px;
	margin-bottom: 50px;
}

.padding_item {
	padding-top: 150px;
	margin-bottom: 80px;
}

.padding_service {
	padding-top: 70px;
	margin-bottom: 80px;
}


